body {
    background-color: #2b2d42;
}
@media (min-width: 0px) {
    h1 {
        color: #2b2d42;
        padding-top: 20px;
        padding-left: 18%;
        margin-bottom: 60px;
    }
    a {
        margin-left: 18% ;
        margin-right: 18%;
    }
}
@media (min-width: 600px) {
    h1 {
        color: #2b2d42;
        padding-left: 32%;
        padding-top: 20px;
    }
    a {
        margin-left: 32% ;
        margin-right: 32%;
    }
}
@media (min-width: 900px) {
    h1 {
        color: #2b2d42;
        padding-left: 32%;
        padding-top: 20px;
    }
    a {
        margin-left: 32% ;
        margin-right: 43%;
    }
}
@media (min-width: 1024px) {
    h1 {
        color: #2b2d42;
        padding-left: 40%;
        padding-top: 20px;
    }
    a {
        margin-left: 40% ;
        margin-right: 40%;
    }
}
.style {
    margin-top: 65px;
    margin-left: 75px;
    margin-right: 75px;
    height: 480px;
    border-radius: 15px;
    background-color: #fff;
}
.style a{
    text-decoration: none;
    display: flex;
    color: #fff;
    background-color: #2b2d42;
    padding-left: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    border-radius: 15px;
}
a:hover {
    background-color: #8b0000;
    transform: scale(1.03,1.03);
}